body {
    font-family: 'Poppins', sans-serif;
}

.banner {
    background-image: url(/images/donation13.jpg);


    width: 105%;
    height: 400px;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
}

.banner-text {
    padding-top: 20px;
}

.banner-text01 {
    text-align: center;
    color: whitesmoke;
}

.banner-text02 {
    text-align: center;
    color: whitesmoke;

}

.banner-btn {
    width: 100px;
    height: 40px;
    border-radius: 5%;
    background: orange;
    margin-left: 45%;
}

.donate-today {
    text-align: center;
    margin-top: 5%;
}

.amount {
    display: flex;
    margin-left: 600px;
}

.tk-100 {

    width: 80px;
    height: 80px;
    margin: 20px;
}

.tk-200 {

    width: 80px;
    height: 80px;
    margin: 20px;
}

.tk-500 {

    width: 80px;
    height: 80px;
    margin: 20px;
}

.tk-1000 {
    width: 80px;
    height: 80px;
    margin: 20px;
}

.tk-5000 {
    width: 80px;
    height: 80px;
    margin: 20px;
}

.amount :hover {
    color: coral;
    border-color: red;
}