body {
    font-family: 'Poppins', sans-serif;
}

.banner {
    background-image: url(/images/donation13.jpg);
    width: 105%;
    height: 400px;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
}

.banner-text {
    padding-top: 20px;
}

.banner-text01 {
    text-align: center;
    color: whitesmoke;
}

.banner-text02 {
    text-align: center;
    color: whitesmoke;

}

.banner-btn {
    width: 100px;
    height: 40px;
    border-radius: 5%;
    background: orange;
    margin-left: 45%;
}

.banner-btn:hover {
    cursor: pointer;
}

.donate-today {
    text-align: center;
    margin-top: 5%;
}

.amount {
    display: flex;
    margin-left: 650px;
}

.tk-100 {

    width: 80px;
    height: 80px;
    margin: 20px;
    cursor: pointer;
}

.tk-200 {

    width: 80px;
    height: 80px;
    margin: 20px;
    cursor: pointer;
}

.tk-500 {

    width: 80px;
    height: 80px;
    margin: 20px;
    cursor: pointer;
}

.tk-1000 {
    width: 80px;
    height: 80px;
    margin: 20px;
    cursor: pointer;
}

.tk-5000 {
    width: 80px;
    height: 80px;
    margin: 20px;
    cursor: pointer;
}

.amount :hover {
    color: coral;
    border-color: red;
    cursor: pointer;
}



form {
    margin-top: 25px;
    text-align: center;
}

.donate-btn {
    width: 100px;
    height: 40px;
    border-radius: 5%;
    background: orange;
    margin-left: 950px;
    margin-top: 20px;
    position: absolute;


}

.depend {
    margin-bottom: 10px;
    margin-top: 20px;
}

.depend-text {
    width: 100%;
}

.depend-img {
    margin: auto;
}

.donate-plan {
    text-align: center;
    margin-top: 200px;
}

.food {
    width: 1000px;
    height: 350px;
    text-align: center;
    box-shadow: 5px 5px 5px gray;
    margin: 15px;

}

.food:hover {
    color: blueviolet;
    border-width: 5px;
    border-color: red;
    transition: 10ms;
    cursor: pointer;
}

.shelter {
    width: 1000px;
    height: 350px;
    text-align: center;
    margin: 15px;
    box-shadow: 5px 5px 5px gray;
}

.shelter:hover {
    color: blueviolet;
    border-color: red;
    transition: 10ms;
    cursor: pointer;

}

.education {
    width: 1000px;
    height: 350px;
    text-align: center;
    margin: 15px;
    box-shadow: 5px 5px 5px gray;

}


.education:hover {
    color: blueviolet;
    border-color: red;
    transition: 10ms;
    cursor: pointer;

}

.plan {
    display: flex;
    margin: 50px;
    padding: 50px;
}

.depend {
    width: 100%;
    display: flex;
}

.depend-text {
    margin: 50px;
}

.depend-btn {
    margin-left: 50px;
    color: black;
    border-color: red;
    width: 100px;
    height: 40px;
    border-radius: 5%;
    background-color: orange;
}

.subscription {
    margin-top: 10%;
}

.sub01 {
    text-align: center;
}

.sub02 {
    text-align: center;
}

.form {
    display: flex;
    margin-left: 870px;
}

.input-sub {
    background-color: rgb(236, 175, 175);
    color: black;
}

.input-sub:hover {
    color: black;
    border-color: red;
    cursor: pointer;
}

.main {
    margin-top: 5%;
    width: 100%;
    height: auto;
    background: black;
}

.footer-txt1 {
    color: red;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-txt2 {
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}